
    <a style="margin: 1px;" class="button is-primary " href="/">Home</a>
    <a style="margin: 1px;" class="button is-info " href="/teacher">Teacher</a>
    <a style="margin: 1px;" class="button is-success " href="/subject">Subject</a>
    <a style="margin: 1px;" class="button is-warning " href="/students">Students</a>
