<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="assets/style/bulma.min.css" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/style/custom.css" type="text/css">
	<title>
		<%=title%>
	</title>
</head>

<body>
	<div class="content">
		<% include assets/partials/menu-bar %>
	</div>

	<div class="content">
		<div class="left_col">
			<% include assets/partials/panel %>
		</div>

		<div class="right_col">
			<div style="text-align:left; margin-bottom:25px;">
				<h1 class="title">Welcome to School App </h1>
				<h4 class="subtitle">I hope you are having a great day!</h4>

				<% include assets/partials/menu %>
			</div>
		</div>

	</div>

</body>

</html>
