<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SUBJECT</title>
</head>
<body>
<div>
  <H1>SUBJECT</H1>

  <div class="left_col">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/teacher">Teacher</a></li>
      <li><a href="/subject">Subject</a></li>
      <li><a href="/student">Student</a></li>
      <!-- <li><a href="/contacts">Contact</a></li>
      <li><a href="/addresses">Addresses</a></li> -->
    </ul>
  </div>

  <table >
    <tr>
      <th>ID</th>
      <th>SUBJECT NAME</th>
      <th>CREATE AT</th>
      <th>UPDATE AT</th>

    </tr>
      <% for(let data=0; data<data_SubjectToEjs.length; data++) {%>
    <tr>
      <td><%= data_SubjectToEjs[data].id %></td>
      <td><%= data_SubjectToEjs[data].subject_name %></td>
      <td><%= data_SubjectToEjs[data].createdAt %></td>
      <td><%= data_SubjectToEjs[data].updatedAt %></td>


    </tr>
      <%}%>
  </table>


</div>
</body>
</html>
